<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>beaware</title>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../css/materialize.min.css" media="screen,projection"/>

    <link type="text/css" rel="stylesheet" href="../css/main.css" media="screen,projection"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<nav>
    <div class="nav-wrapper">
        <div class="container">
            <a href="/" class="brand-logo">
                <img src="../images/logo.png" height="30" width="50" alt="">
            </a>
            <ul class="right">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About us</a></li>
                <li><a href="/account">Account</a></li>
            </ul>
        </div>

    </div>
</nav>

<div id="index" class="main container">
    <div class="row center-align">
        <h1>TIMETABLE</h1>
    </div>
    <div class="row">
        <table>
            <thead>
            <tr>
                <th>Date</th>
                <th>Type</th>
                <th>Classroom</th>
                <th>Teacher</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td>Monday 11:40</td>
                <td>Lecture</td>
                <td>2-10</td>
                <td>Ed Sheeran</td>
            </tr>
            <tr>
                <td>Wednesday 9:55</td>
                <td>Practical</td>
                <td>2-33</td>
                <td>Ed Sheeran</td>
            </tr>
            <tr>
                <td>Friday 8:10</td>
                <td>Laboratory</td>
                <td>2-33</td>
                <td>Ed Sheeran</td>
            </tr>
            </tbody>
        </table>
        <div class="row main center-align">
            <a class="btn messageForm waves-effect waves-light">change timetable
                <i class="material-icons right">create</i></a>
        </div>
    </div>
    <div class="row center-align">
        <h1>NEWS</h1>
    </div>
    <div class="row">
        <ul class="collection">
            <li class="collection-item avatar">
                <i class="material-icons circle red">book</i>
                <p>Уважаемые выпускники ФИСТ!
                    Прошу ознакомиться на сайте ФИСТ с нормативной документацией для обеспечения процедуры подготовки и защиты
                    ВКР, а также с порядком проверки ВКР на антиплагиат: http://fist.psuti.ru/gradStudents
                </p>
                <div class="top30 images center-align">
                    <img src="../images/anonymous.jpg" width="400" height="400">
                </div>
            </li>
        </ul>
    </div>
    <div class="row main center-align">
        <a class="btn messageForm waves-effect waves-light">new message
            <i class="material-icons right">add</i></a>
    </div>
</div>

<!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" src="../js/materialize.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!--<script type="text/javascript" src="../js/request.js"></script>
<script type="text/javascript" src="../js/main.js"></script>
<script type="text/javascript" src="../js/account.js"></script>
<script type="text/javascript" src="../js/button.js"></script>-->
</body>
</html>